global:
  evaluation_interval: {{ .conf.prometheus.evaluation_interval }}
  scrape_interval: {{ .conf.prometheus.scrape_interval }}
  scrape_timeout: {{ .conf.prometheus.scrape_timeout }}

rule_files:
  {{ range .conf.prometheus.rule_files -}}
  - {{ . }}
  {{ end }}

scrape_configs:
  {{ if .conf.prometheus.custom_scrapes }}{{ range $.conf.prometheus.custom_scrapes }}
  - job_name: {{ .job_name }}
    metrics_path: {{ .metrics_path }}
    scheme: {{ .scheme }}
    {{ if .bearer_token }}bearer_token: {{ .bearer_token }}{{ end }}
    static_configs:
      - targets:
        {{ range .static_configs }}{{ range .targets }}- {{ . }}{{ end }}{{ end }}
    tls_config:
      ca_file: {{ $.conf.prometheus.ca_file }}
      cert_file: {{ $.conf.prometheus.certificate_file }}
      key_file: {{ $.conf.prometheus.key_file }}
  {{ end }}{{ end -}}
  {{ if .conf.prometheus.prometheus_metrics }}{{ range $.conf.prometheus.prometheus_metrics }}
  - job_name: {{ .job_name }}
    metrics_path: {{ .metrics_path }}
    tls_config:
      ca_file: {{ $.conf.prometheus.ca_file }}
      cert_file: {{ $.conf.prometheus.certificate_file }}
      key_file: {{ $.conf.prometheus.key_file }}
    scheme: {{.scheme}}
    static_configs:
      - targets:
        {{ if .targets }}
        {{ range .targets -}}
        - {{ . }}
        {{ end -}}
        {{ else -}}
        {{ $targetPort := .port }}{{ range .hostnames }}- {{ . }}:{{ $targetPort }}
        {{ end -}}
        {{- end }}
    {{ if .scrape_interval }}scrape_interval: {{ .scrape_interval }}{{ end }}
    {{ if .scrape_timeout }}scrape_timeout: {{ .scrape_timeout }}{{ end }}
    {{ if .basic_auth }}basic_auth:
      username: {{ .basic_auth.username }}
      password: {{ .basic_auth.password }}
    {{ end -}}
    {{ if .bearer_token }}bearer_token: {{ .bearer_token }}{{ end }}
    {{ if .metric_relabel_configs }}metric_relabel_configs:
      {{ range $relabel_config := .metric_relabel_configs -}}
      {{ if $relabel_config.source_labels -}}
      - source_labels:
        {{ range $label := $relabel_config.source_labels }}- {{ $label }}
        {{ end }}
      {{ end }}
        {{ if $relabel_config.target_label }}target_label: {{ .target_label }}
        {{ end -}}
        {{ if $relabel_config.regex }}regex: {{ .regex }}
        {{ end -}}
        {{ if $relabel_config.replacement }}replacement: {{ .replacement }}
        {{ end -}}
        {{ if $relabel_config.action }}action: {{ .action }}
        {{ end -}}
        {{ if $relabel_config.separator }}separator: {{ .separator }}
        {{ end -}}
      {{ end }}
    {{ end }}
    {{ if .params }}params:
      {{ range $paramKey, $paramList := .params -}}
      {{ $paramKey }}:
        {{ range $paramList }}- {{ . }}
        {{ end }}
      {{ end -}}
    {{ end -}}
{{ end }}{{ end }}
  {{ if .conf.prometheus.blackbox_exporter }}{{ range $.conf.prometheus.blackbox_exporter }}
  {{ $scheme := .scheme }}
  {{ if .probes  }}{{ range .probes }}
  {{ if or (.targets) (and $.conf.prometheus.external_http_uris_probe .__external_http_uris_prober__) }}
  - job_name: {{ .name }}
    metrics_path: {{ .metrics_path }}
    tls_config:
      ca_file: {{ $.conf.prometheus.ca_file }}
      cert_file: {{ $.conf.prometheus.certificate_file }}
      key_file: {{ $.conf.prometheus.key_file }}
    params:
        module: {{ .module }}
    scheme: {{ $scheme }}
    static_configs:
      - targets:
        {{ range .targets -}}
        - {{ . }}
        {{ end -}}
        {{ if and $.conf.prometheus.external_http_uris_probe .__external_http_uris_prober__ }}
        {{ range $.conf.prometheus.external_http_uris_probe -}}
        - {{ . }}
        {{ end -}}
        {{ end }}
    {{ if .bearer_token }}bearer_token: {{ .bearer_token }}{{ end }}
    {{ if .scrape_interval }}
    scrape_interval: {{ .scrape_interval }}
    {{ end }}
    {{ if .scrape_timeout }}
    scrape_timeout: {{ .scrape_timeout }}
    {{ end }}
    {{ if .metric_relabel_configs }}metric_relabel_configs:
      {{ range $relabel_config := .metric_relabel_configs -}}
      {{ if $relabel_config.source_labels -}}
      - source_labels:
        {{ range $label := $relabel_config.source_labels }}- {{ $label }}
        {{ end }}
      {{ end }}
        {{ if $relabel_config.target_label }}target_label: {{ .target_label }}
        {{ end -}}
        {{ if $relabel_config.regex }}regex: {{ .regex }}
        {{ end -}}
        {{ if $relabel_config.replacement }}replacement: {{ .replacement }}
        {{ end -}}
        {{ if $relabel_config.action }}action: {{ .action }}
        {{ end -}}
        {{ if $relabel_config.separator }}separator: {{ .separator }}
        {{ end -}}
      {{ end }}
    {{ end }}
    {{ if .relabel_config }}relabel_configs:
      {{ range $relabel_config := .relabel_config -}}
      {{ if $relabel_config.source_labels -}}
      - source_labels:
        {{ range $label := $relabel_config.source_labels }}- {{ $label }}
        {{ end }}
        {{ if $relabel_config.target_label }}target_label: {{ .target_label }}
        {{ end -}}
        {{ if $relabel_config.regex }}regex: {{ .regex }}
        {{ end -}}
        {{ if $relabel_config.replacement }}replacement: {{ .replacement }}
        {{ end -}}
        {{ if $relabel_config.action }}action: {{ .action }}
        {{ end -}}
        {{ if $relabel_config.separator }}separator: {{ .separator }}
        {{ end -}}
      {{ else if $relabel_config.target_label }}
      - target_label: {{ .target_label }}
        {{ if $relabel_config.regex }}regex: {{ .regex }}
        {{ end -}}
        {{ if $relabel_config.replacement }}replacement: {{ .replacement }}
        {{ end -}}
        {{ if $relabel_config.action }}action: {{ .action }}
        {{ end -}}
        {{ if $relabel_config.separator }}separator: {{ .separator }}
        {{ end -}}
      {{ end }}
      {{ end }}
    {{ end }}
    {{ if .params }}params:
      {{ range $paramKey, $paramList := .params -}}
      {{ $paramKey }}:
        {{ range $paramList }}- {{ . }}
        {{ end }}
      {{ end -}}
    {{ end -}}
  {{ end }}
{{ end }}{{ end }}
{{ end }}{{ end }}
alerting:
  {{ if .conf.prometheus.alert_relabel_configs }}alert_relabel_configs:
    {{ range .conf.prometheus.alert_relabel_configs }}
    {{ if .source_labels -}}
    - source_labels:
      {{ range .source_labels }}- {{ . }}
      {{ end }}
    {{ end }}
      {{ if .target_label }}target_label: {{ .target_label }}
      {{ end -}}
      {{ if .regex }}regex: {{ .regex }}
      {{ end -}}
      {{ if .replacement }}replacement: {{ .replacement }}
      {{ end -}}
      {{ if .action }}action: {{ .action }}
      {{ end -}}
      {{ if .separator }}separator: {{ .separator }}
      {{ end -}}
    {{ end }}
  {{ end }}
  alertmanagers:
    - scheme: {{.conf.prometheus.alertmanager_scheme}}
      path_prefix: {{ .conf.prometheus.alertmanager_path }}
      tls_config:
        ca_file: {{ $.conf.prometheus.ca_file }}
        cert_file: {{ $.conf.prometheus.certificate_file }}
        key_file: {{ $.conf.prometheus.key_file }}
      static_configs:
        - targets:
            {{ range .conf.prometheus.alertmanagers }}- {{ . }}
            {{ end }}
{{ if .conf.prometheus.custom_configs }}{{ .conf.prometheus.custom_configs }}{{ end }}
